<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title | titlecase}}</a>
  <div *ngIf="!currentUser" class="d-inline-flex">
    <ng-template #login>
      <app-login></app-login>
    </ng-template>
    <button class= "btn btn-primary" (click)="open(login)">Login</button>
    <app-register></app-register>
    </div>
</nav>

<div *ngIf="currentUser" class="d-inline-flex">
  {{currentUser.username}}
  <app-calc2></app-calc2>
</div>

<div *ngIf="currentUser">
  <app-logout></app-logout>
</div>


